
<h4>Ask your coach anything</h4>

<form class= "form-group" action="/answer">
  <input class="question" type="text" name="question" style="height:35px;">
  <input class="submit btn btn-primary" type="submit" value="Ask!" style ="width: 80px;">
</form>
